body {
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

.dialogue {
	display: table;
	float: left;
	border: 1px solid #d9e0e7;
	margin-left: 10px;
	margin-top: 10px;
}

.dialogue-body {
	display: table-row-group;
}

.dialogue-foot {
	display: table-footer-group;
	background-color: #f2f2f2;
}

.message {
	display: table-row;
}

.data, .text {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 15px;
}

.data {
	float: right;
	padding-right: 10px;
	font-size: 12px;
	color: #999;
}

.text {
	float: left;
	padding-left: 15px;
	line-height: 65%;
}

textarea, button {
	display: table-cell;
	resize: none;
	margin: 15px;
}

button {
	margin-bottom: 25px;
	vertical-align: bottom;
	text-align: center;
}

div[data-action="add"] {
	text-indent: -9999px;
	background: url('../img/add.png') no-repeat;
	height: 32px;
	width: 32px;
	margin: 15px;
}

.dialogue-header {
	border-bottom: 1px solid #6a6e7c;
}

.dialogue-header div{
	float: left;
	margin: 15px;
	font-size: 22px;
	color: #6a6e7c;
}

.dialogue-header div[data-action="delete"] {
	text-indent: -9999px;
	background: url('../img/delete.png') no-repeat;
	height: 32px;
	width: 32px;
	float: right;
}

.dialogue-header:after {
	display: block;
	content: '';
	clear: both;
}